.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:black;
}

.login .loginWrapper{
    width: 50%;
    padding: 20px;
    margin:20px;
    
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    
}
.login .loginWrapper h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color:white;
}
.login .loginWrapper .loginBox{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}

.login .loginWrapper .loginBox input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #adadad;
    border-radius: 5px;
}

.login .loginWrapper .loginBox button{
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0058af;
    color: white;
    cursor: pointer;
}

.login .loginWrapper .loginBox button:hover{
    background-color: #003f7f;
}

.login .loginWrapper .loginBox span{
    margin: 10px 0;
    text-align: center;
    color: #0058af;
    cursor: pointer;
}

.login .logo{
    width: 50%;
}

.login .logo img{
    width: 350px;
    margin:auto;
}