.leftbar {
    width: 100px;
    height: 96%;
    border-radius: 15px;
    background-color: #2548fa;
    
    color:white;
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* top: 50px; */
    top:0;
    left: 0;
    margin:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    animation: leftToRight 1s;
}
.leftbar:hover{
    width: 200px;
}

.leftbar .item {
    width: 100%;
    height: 50px;
    color:black;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    /* color: rgb(0, 0, 0); */
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.leftbar .item:hover {
    background-color: #45aef4;
}

@media screen and (max-width: 720px) {
    .leftbar {
        animation: hideLeftbar 2s ease-in-out forwards;
        /* transition-delay: display 2s; */
    }
}
@keyframes hideLeftbar {
    from {
        left: 0;
    }
    to {
        left: -100%;
        display: none;
    }
}
/* LeftToPosition */
@keyframes leftToRight {
    from {
        left: -100%;
    }
    to {
        left: 0;
        display: flex;
    }
}
