.userItem{
    background-color: rgb(59, 53, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    margin: 30px 10px 0 10px;
    border-radius: 10px;
}
.userItem.light{
    background-color: #1a1825;
    color: #b2a6f7;
}
.userItem.dark{
    background-color: #dddddd;
    color: #1a1825;
}
.userItem .av{
    position: absolute;
    top:-25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.userItem .info{
    margin:auto;
    margin-top: 25px;
    position: relative;
}
.userItem .info .detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userItem .info .detail p{
    margin-left: 10px;
}
.userItem .av img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.userItem .av .frame{
    position: absolute;
}

.userItem .info .detail button{
    
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    margin:5px;
}

.userItem.dark .info .detail button{
    background-color: #ff0066;
}
.userItem.light .info .detail button{
    background-color: #ff00d0;
}
.userItem.dark .info .detail button:hover{
    background-color: #ff00d0;
}
.userItem.light .info .detail button:hover{
    background-color: #ff0066;
}