.detailBody{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detailBody .commentSection{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 0;
}