.userList {
    position: fixed;
    overflow: auto;
    right: 0;
    top: 50px;
    height: 100%;
    width: 250px;
    background-color: #1a1825;
    color: #b2a6f7;
    /* justify-content: space-around; */
    /* border-left: 1px solid #ff0066; */ 
    transition: all 0.3s ease-in-out;
    /* border-radius: 10px 0 0 10px; */
}

.userList.dark {
    background-color: #1a1825;
    color: #dddddd;
}

.userList.light {
    background-color: #dddddd;
    color: #1a1825;
}

@media (max-width: 1000px) {
    .userList {
        right: 0;
        opacity: 0;
    }

}

/* track */
.userList::-webkit-scrollbar {
    width: 5px;
    background-color: #504a7500;
    
}

/* Handle */
.userList::-webkit-scrollbar-thumb {
    background: #ec6a9e00;
    border-radius: 20px;
    /* display: none; */
    transition: all 0.3s ease-in-out;
}

.userList:hover::-webkit-scrollbar-thumb {
    opacity: 100%;
    background: #ec6a9e;
}