.navbar{
    background-color: hsla(0, 0%, 20%, 0.504);
    width: 100%;
    height: 50px;
    /* border-radius: 20px; */
    position: fixed;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    /* top:5px; */
    top:0;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}
.navbar .item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navbar .item.active{
    width: 50px;
    background-color: #ff00d0;
    border-radius: 10px;
}
/* .navbar .item:hover{
    transform: scale(1.1);
} */

.navbar .item img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.navbar .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    transition: all 0.3s ease-in-out;
}
.navbar .search:focus-within + .right{
    width: 10%;
}
.navbar .search{
    width: 30%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.navbar .search:focus-within {
    width: 40%;
}

.navbar .search input{
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: hsla(0, 0%, 0%, 0.37);
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.navbar .search input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.navbar .search img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 10px;
    top: 5px;
}