.navbar{
    background-color: hsla(0, 0%, 20%, 0.504);
    width: 60%;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    top:5px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}
.navbar .item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navbar .item.active{
    width: 50px;
    background-color: #ff00d0;
    border-radius: 10px;
}
.navbar .item:hover{
    transform: scale(1.1);
}

.navbar .item img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

