.confirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.1);
    color:#000;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.pin-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pin-input input{
    background-color: rgb(154, 132, 132);
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 10px;
}

.confirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.confirm img{
    width: 100px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    padding: 15px;
}

.confirm h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.confirm p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.confirm button{
    width: 50%;
    background-color: #3da4ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}