
.searchBox{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 50px;
    padding: 10px;
}

.searchBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: #ff0077;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.searchBox .searchButton{
    position: absolute;
    right: 0;
    padding: 5px;
    width: 50px;
    height: 100%;
    border-radius: 15px;
    /* background: #000000; */
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}