.App {
  text-align: center;
}

.darkMode{
  background-color: rgb(199, 193, 193);
  color: white;
}
.lightMode{
  background-color: white;
  color: black;
}
::-webkit-scrollbar{
  width:10px;
}
.podcast::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0077;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff32;
  border-radius: 10px;
}
@font-face {
  font-family: 'Awesome South Korea';
  src: url('/src/access/font/0044-LNTH-Awesome_South_Korea.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Blackoninaut Bold BRK';
  src: url('/src/access/font/0249-LNTH-Blackoninaut_Bold_BRK.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Korean Calligraphy';
  src: url('/src/access/font/0068-LNTH-Korean_Calligraphy.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lightmorning';
  src: url('/src/access/font/0070-LNTH-lightmorning.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Ceria Lebaran';
  src: url('/src/access/font/0096-LNTH-Ceria_Lebaran.ttf') format('truetype'); 
}

@font-face {
  font-family: 'iCielNovecentoSans';
  src: url('./access/font/iCielNovecentosans/iCielNovecentosans-DemiBold.otf') format('opentype');
  font-weight: 600; /* DemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'iCielNovecentoSans';
  src: url('./access/font/iCielNovecentosans/iCielNovecentosans-ExtraLight.otf') format('opentype');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: 'iCielNovecentoSans';
  src: url('./access/font/iCielNovecentosans/iCielNovecentosans-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'iCielNovecentoSans';
  src: url('./access/font/iCielNovecentosans/iCielNovecentosans-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'iCielNovecentoSans';
  src: url('./access/font/iCielNovecentosans/iCielNovecentosans-Normal.otf') format('opentype');
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'iCielNovecentoSans';
  src: url('./access/font/iCielNovecentosans/iCielNovecentosans-UltraBold.otf') format('opentype');
  font-weight: 800; /* UltraBold */
  font-style: normal;
}
