.podcastPost{
    margin: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: #fff;
    width: 360px;
    height: 540px;
    margin-bottom: 25px;
    position: relative;
    transition: all 0.5s ease;
}

.podcastPost .background{
    width: 360px;
    height: 540px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    filter: blur(5px);
}
.podcastPost:hover .background{
    filter: blur(0px);
    transition: all 1s ease;
}
.podcastPost .info{
    top:10px;
    left:20px;
    position: absolute;
    text-align: left;
    /* line-height: 5px; */
}
.podcastPost .play{
    position: absolute;
    top:40%;
    left:40%;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.podcastPost .play:hover{
    background-color: #f1f1f1;
    filter:drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
.podcastPost .cd{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.podcastPost .cd .circle{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
}

.podcastPost .progress{
    position: absolute;
    bottom: 35px;
    left: 50px;
    width: 75%;
    height: 5px;
    background-color: #000000;
    border-radius: 5px;
}
.podcastPost .timer{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    color: #000;
}
.podcastPost .progressBar{
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: #ff0000;
    border-radius: 5px;
}
.podcastPost .likeAndComment{
    position: absolute;
    top: 10px;
    right: 10px;
    /* line-height: 0; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

.podcastPost:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    transform: scale(1.05);
}

.podcastPost .themesong{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.display-none{
    display: none;
}
