.rightbar{
    padding: 10px;
    width: 70px;
    height: 95%;
    background-color: #2548fa;
    position: fixed;
    top: 0;
    right: 0;
    margin:10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
    /* justify-content: space-between; */
    align-items: center;
    /*overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #ddd;*/
    animation: rightToLeft 1s;
    transition: all 0.5s ease-in-out;
}
.rightbar:hover{
    width: 200px;
}
.rightbar button{
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 20PX;
    text-align: center;
    padding: 10px;
    margin:auto;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}
.rightbar:hover button{
    border-radius: 50px;
    margin:auto;
    width: 80%;
}
.rightbar button:hover{
    background-color: #45aef4;   
}

@media screen and (max-width: 720px){
    .rightbar{
        animation: hideRightbar 2s ease-in-out forwards;
    }
}
@keyframes hideRightbar {
    from {
        right: 0;
    }
    to {
        right: -100%;
        display: none;
    }
    
}
/* RightToPosition */
@keyframes rightToLeft {
    from {
        right: -100%;
    }
    to {
        right: 0;
        display: flex;
    }
}