.rightbar{
    padding: 10px;
    width: 100px;
    height: 95%;
    background-color: #2548fa;
    position: fixed;
    top: 0;
    right: 0;
    margin:10px;
    border-radius: 15px;
    z-index: 999;
    align-items: center;
    animation: rightToLeft 1s;
    transition: all 0.5s ease-in-out;
}
/* .rightbar:hover{
    width: 200px;
} */
.rightbar .item{
    margin: 10px auto;
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightbar .item .icon{
    font-size: 30px;
    text-align: center;
}
.rightbar p{
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin: 5px auto;
}
.rightbar .item img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* .rightbar:hover button{
    border-radius: 5px;
    width: 90%;
} */
.rightbar .item:hover{
    background-color: #45aef4;   
}

@media screen and (max-width: 1200px){
    .rightbar{
        width: 50px;
    }
}
/* RightToPosition */
@keyframes rightToLeft {
    from {
        right: -100%;
    }
    to {
        right: 0;
        display: flex;
    }
}